<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="wwe.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="wwe.Perspective"
            id="WWE.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="wwe.ToolbarView"
            id="WWE.toolbarView"
            name="Toolbar"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="WWE.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="WWE.NewCmd"
                  label="New"
                  style="push">
            </command>
            <separator
                  name="WWE.seperator1"
                  visible="true">
            </separator>
            <command
                  commandId="WWE.LoadCmd"
                  label="Load"
                  style="push">
            </command>
            <command
                  commandId="WWE.SaveCmd"
                  label="Save"
                  style="push">
            </command>
            <menu
                  label="Save as ...">
               <command
                     commandId="WWE.saveAsToolCmd"
                     label="Toolbox Element"
                     style="push">
               </command>
               <command
                     commandId="WWE.saveAsImageCmd"
                     label="Image"
                     style="push">
               </command>
            </menu>
            <separator
                  name="WWE.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Advanced">
            <command
                  commandId="WWE.scopeProperties"
                  label="Scope Properties"
                  style="push">
            </command>
            <command
                  commandId="WWE.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="WWE.toolbar">
            <command
                  commandId="WWE.RevertCmd"
                  icon="icons/refresh.gif"
                  label="Revert"
                  style="push"
                  tooltip="Revert simulation">
            </command>
            <command
                  commandId="WWE.PlayCmd"
                  icon="icons/play.gif"
                  label="Play"
                  style="push"
                  tooltip="Play">
            </command>
            <command
                  commandId="WWE.PauseCmd"
                  icon="icons/pause.gif"
                  label="Pause"
                  style="push"
                  tooltip="Pause">
            </command>
            <command
                  commandId="WWE.StepBackCmd"
                  icon="icons/backward.gif"
                  label="Step back"
                  style="push"
                  tooltip="Step back">
            </command>
            <command
                  commandId="WWE.NextStepCmd"
                  icon="icons/forward.gif"
                  label="Next step"
                  style="push"
                  tooltip="Next step">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="wwe.handler.scope.PlayHandler"
            commandId="WWE.PlayHandler">
      </handler>
      <handler
            class="wwe.handler.scope.PauseHandler"
            commandId="WWE.PauseHandler">
      </handler>
      <handler
            class="wwe.handler.scope.NextStepHandler"
            commandId="WWE.NextStepHandler">
      </handler>
      <handler
            class="wwe.handler.scope.StepBackHandler"
            commandId="WWE.StepBackHandler">
      </handler>
      <handler
            class="wwe.handler.scope.RevertHandler"
            commandId="WWE.RevertHandler">
      </handler>
      <handler
            class="wwe.handler.file.NewHandler"
            commandId="WWE.NewHandler">
      </handler>
      <handler
            class="wwe.handler.advanced.PreferencesHandler"
            commandId="WWE.preferences">
      </handler>
      <handler
            class="wwe.handler.file.SaveAsToolHandler"
            commandId="WWE.saveAsToolCmd">
      </handler>
      <handler
            class="wwe.handler.file.SaveAsImageHandler"
            commandId="WWE.saveAsImageCmd">
      </handler>
      <handler
            class="wwe.handler.advanced.ScopePropertiesHandler"
            commandId="WWE.scopeProperties">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="wwe.handler.scope.PlayHandler"
            id="WWE.PlayCmd"
            name="Play Command">
      </command>
      <command
            defaultHandler="wwe.handler.scope.PauseHandler"
            id="WWE.PauseCmd"
            name="Pause Command">
      </command>
      <command
            defaultHandler="wwe.handler.scope.RevertHandler"
            id="WWE.RevertCmd"
            name="Revert Command">
      </command>
      <command
            defaultHandler="wwe.handler.scope.StepBackHandler"
            id="WWE.StepBackCmd"
            name="Step Back Command">
      </command>
      <command
            defaultHandler="wwe.handler.scope.NextStepHandler"
            id="WWE.NextStepCmd"
            name="Next Step Command">
      </command>
      <command
            defaultHandler="wwe.handler.file.SaveHandler"
            id="WWE.SaveCmd"
            name="Save Command">
      </command>
      <command
            defaultHandler="wwe.handler.file.LoadHandler"
            id="WWE.LoadCmd"
            name="Load Command">
      </command>
      <command
            defaultHandler="wwe.handler.file.NewHandler"
            id="WWE.NewCmd"
            name="New Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="wwe.scope.ScopeEditor"
            default="false"
            id="WWE.scope.ScopeEditor"
            name="Simulation Scope">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="wwe.preferences.ToolbarPreferencePage"
            id="WWE.preferences.toolbar"
            name="Toolbar">
      </page>
      <page
            class="wwe.preferences.ScopePreferencePage"
            id="WWE.preferences.scope"
            name="Scope">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="wwe.preferences.ToolboxInitializer">
      </initializer>
      <initializer
            class="wwe.preferences.ScopeInitializer">
      </initializer>
   </extension>

</plugin>
